*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card{
    width: 300px;
    background-color: rgb(165, 3, 51);
    padding: 1rem 1rem 3rem 1rem;
    border: 3px solid rgb(80, 2, 2);

}
#pic{
    width: 100% ;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
}
#titl{
    color: aliceblue;
    text-align: center;
}
#dic{
    color: aliceblue;
    text-align: center;
}